<div class="row">
    <div class="col-xs-12">
        <div class="pull-left">
            <button class="btn btn-primary" 
                    (click)="onNewButtonClicked()">
                    Check Out
                        <fa-icon [icon]="faPlusSquare"></fa-icon>
            </button>    
        </div>
    </div>
</div>
<div class="pull-right">
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
         <app-inventory-item-out *ngFor="let p of inventoryList; let i = index" 
                          [inventory]="p"
                          [index]="i"></app-inventory-item-out>
    </div>
</div>

