<div class="row">
    <div class="col-xs-12">
        <div class="pull-left">
        </div>
        <div class="pull-right">
          <button class="btn btn-primary" 
                    (click)="onEdit()">
                        Edit <fa-icon [icon]="faEdit"></fa-icon>
          </button>
        </div>
    </div>
</div>
<hr>  
<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="form-row">
        <div class="form-group col-xs-6"> 
          <label for="name-id">Name</label>
          <input type="name" class="form-control" id="name-id" name="name" 
                 [ngModel]="supplier.name" disabled>
        </div>
        <div class="form-group col-xs-6">
          <label for="email-id">Email</label>
          <input type="email" class="form-control" id="email-id" 
                 name="email" [ngModel]="supplier.email" disabled>
        </div>
      </div>
      <div class="form-row" *ngIf="supplier">
        <div class="form-group col-xs-3"> 
          <label for="cep-id">Cep</label>
          <input type="text" class="form-control" id="cep-id"
                 name="cep" disabled [ngModel]="supplier.address.cep">
        </div>
        <div class="form-group col-xs-3"> 
          <label for="uf-id">UF</label>
          <input type="text" class="form-control" id="logradouro-id"
                 name="uf" disabled [ngModel]="supplier.address.uf">
        </div> 
        <div class="form-group col-xs-6"> 
          <label for="cidade-id">Cidade</label>
          <input type="text" class="form-control" id="cidade-id"
                 name="cidade" disabled [ngModel]="supplier.address.localidade">
        </div>      
      </div>
      <div class="form-row">
        <div class="form-group col-xs-4">   
          <label for="bairro-id">Bairro</label>
          <input type="text" class="form-control" 
                 id="bairro-id"
                 name="bairro" disabled [ngModel]="supplier.address.bairro">
        </div>
        <div class="form-group col-xs-6">   
          <label for="rua-id">Rua</label>
          <input type="text" class="form-control" 
                 id="rua-id"
                 name="rua" disabled [ngModel]="supplier.address.logradouro">
        </div>
        <div class="form-group col-xs-2">   
          <label for="numero-id">Numero</label>
          <input type="text" class="form-control" 
                 id="numero-id"
                 name="numero" disabled [ngModel]="supplier.address.numero">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-xs-6"> 
          <label for="cnpj-id">CPF/CNPJ</label>
          <input type="text" class="form-control" id="cnpj-id" 
                 name="cnpj" disabled [ngModel]="supplier.cnpj">
        </div>
        <div class="form-group col-xs-6"> 
          <label for="phone-id">Phone</label>
          <input type="text" class="form-control" id="phone-id" 
                  name="phone" [ngModel]="supplier.phone" disabled>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="form-group row">
    <div class="form-group col-xs-12">
        <div class="panel panel-default">
        <div class="panel-heading">Products</div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Qtd.</th>
                <th scope="col">Un.</th>
                <th scope="col">Buy price</th>
                <th scope="col">Sell price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of (products | async) | keyvalue; let i = index">
                <th scope="row"> {{i}}</th>
                <td>{{p.value.name}}</td>
                <td>{{p.value.amount}}</td>
                <td>{{p.value.unitType}}</td>
                <td>{{p.value.buyPrice}}</td>
                <td>{{p.value.sellPrice}}</td>
              </tr>
            </tbody>
          </table>
        </div>    
    </div>  
  </div>
</div>
